<!-- It might be said -->
<div id="endPage">
<h2>End page</h2>
</div>

<div id="tyPage">
  <h2>TY Page</h2>
</div>

<div id="offerPage">
  <h2>Offer</h2>
</div>


<!-- It might be said: -->
  <div class="form-group q_gender" id="q_gender" data-db="Test">
    <label for="gender">Test</label>
    <select class="" name="" id="mf" data-db="mf" required>
      <option value="">Select</option>
      <option value="one">One</option>
      <option value="two">Two</option>
      <option value="other"></option>
    </select>
  </div>


  <!-- It might be said -->
  <div class="form-group q_driving" id="q_driving">
    <label for="driving">Driving</label>
    <select name="" id="driving" data-db="driving" required>
      <option value="">Select</option>
      <option value="driving_yes">Yes</option>
      <option value="driving_no">No</option>
    </select>
  </div>


  <!-- It might be said: -->
  <div class="form-group q_car" id="q_car">
    <label for="first">First</label>
    <select name="" id="first" data-db="first" required>
      <option value="">Select</option>
      <option value="first_yes">Yes</option>
      <option value="first_no">No</option>
    </select>
  </div>
